<div class="row-fluid">
    <div class="span7">
        <div class="well well-small" id="chat-input-container">
            <form class="form-inline margin0" id="chat-form">
                <input type="text" class="span10" placeholder="発言を入力してください" id="chat-input">
                <button type="submit" class="btn btn-primary">
                    <i class="icon-comment icon-white"></i>
                    発言
                </button>
            </form>
        </div>
        <div class="row-fluid hide" id="enquete">
            <div class="span12">
                <form>
                    <legend>人狼だと思う人を選んで投票してください</legend>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <label class="radio"><input type="radio"> <img src="http://dummyimage.com/16"> ほげ ふが</label>
                    <div class="form-actions align-center">
                        <a href="#" class="btn btn-primary" id="ballot">投票する</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="chat">
            <hr>
            <div class="form-actions align-center">
                <a href="#">もっと見る</a>
            </div>
        </div>
    </div>
    <div class="span5">
        <div id="timer" class="progress progress-striped">
            <div class="bar" style="width: 100%;">365</div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span3">
                <img src="http://dummyimage.com/64" class="span12">
            </div>
            <div class="span9">
                <h4>ほげ ふが</h4>
                <p>あなたの役職： <i class="icon-headphones"></i> 共有者</p>
                <p>
                    <i class="icon-headphones"></i> 他の共有者：
                    <a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a>,　
                    <a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a>
                </p>
            </div>
        </div>
        <hr>
        <div class="row-fluid" id="silence-container">
            <div class="span12">
                <p>
                    <a href="#" class="btn btn-inverse btn-block" id="silence">
                        <i class="icon-volume-off icon-white"></i> 沈黙する...
                    </a>
                </p>
                <hr>
            </div>
        </div>
        <p class="pull-right"><a href="#" id="jobs-list"><i class="icon-info-sign"></i> 役職</a></p>
        <h4>村の情報</h4>
        <h5>生存者（14/19名）</h5>
        <ul class="unstyled inline">
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
        </ul>
        <h5>死亡者（5/19名）</h5>
        <ul class="unstyled inline">
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><i class="icon-leaf"></i> <img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
            <li><a href="#home" data-toggle="tab"><img src="http://dummyimage.com/16"> ほげ ふが</a></li>
        </ul>
        <hr>
        <h5>メモ欄</h5>
        <textarea rows="5" class="span12"></textarea>
    </div>
</div>