<div class="row-fluid">
    <div class="span12">
        <p class="pull-right hide" id="lobby-create-container">
            <a href="#create" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> 新しく村を作成する</a>
        </p>
        <h3 class="margin0">ロビー</h3>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped" id="lobby-table">
            <thead>
            <tr>
                <th>村の名前</th>
                <th>参加者数</th>
                <th>開催状態</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>