<div class="row-fluid">
    <div class="span12">
        <form id="create-form">
            <legend>新しい村を作成する</legend>
            <label>村の名前</label>
            <input type="text" class="span12" id="create-name" required>
            <label>村の説明</label>
            <textarea class="span12" rows="3" id="create-description"></textarea>
            <div class="row-fluid">
                <div class="span4">
                    <label>参加できる最大人数（最小5人〜最大30人）</label>
                    <input type="number" class="span3" min="5" max="30" value="12" id="create-limit">人
                </div>
                <div class="span4">
                    <label>昼の時間（最小1分〜最大30分）</label>
                    <input type="number" class="span3" min="1" max="30" value="10" id="create-time-date">分
                </div>
                <div class="span4">
                    <label>夜の時間（最小1分〜最大30分）</label>
                    <input type="number" class="span3" min="1" max="30" value="10" id="create-time-night">分
                </div>
            </div>
            <div class="form-actions align-center">
                <button type="submit" class="btn btn-large btn-primary" id="create-btn">
                    <i class="icon-ok icon-white"></i> 部屋を作成する
                </button>
            </div>
        </form>
    </div>
</div>